{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        ">0.25%",
                        "not ie 11",
                        "not op_mini all"
                    ]
                },
                "useBuiltIns": "entry",
                "modules": false
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties"
    ],
    "env": {
        "production": {
            "plugins": [
                "@babel/plugin-transform-react-constant-elements"
            ]
        }
    }
}
